#lipstic, #mush
{
    border: 5px ridge rgb(235, 119, 158);
    width: 350px;
    height: 300px;
    background-color: rgb(235, 119, 158);
}

#inBD
{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#lipBD
{
    background-image: url("mu.jpg");
}

#musBD
{
    background-image: url("mbg.webp");
}

#head
{
    color: #000;
}

